{% extends "base.html" %}
{% block content %}
    {% if current_user.is_authenticated %}
    <a class="navbar-brand" href="/logout">{{ current_user.name }}</a>
{% else %}
    <p>
        <a class="btn btn-primary " href="/register">Зарегистрироваться</a>
        <a class="btn btn-success" href="/login">Войти</a>
    </p>
    {% endif %}
    {% if current_user.is_admin %}
    <a class="btn btn-success" href="/add_new" >Добавить программу</a>
    {% endif %}
            </div>
        </div>
    </nav>
    <header class="bg-dark">
        <div class="container pt-4 pt-xl-5" style="width: 1207px;">
            <div class="row pt-5">
                <div class="col-md-8 col-xl-6 text-center text-md-start mx-auto">
                    <div class="text-center">
                        <h1 class="fw-bold" style="margin-bottom: 24px;margin-top: -88px;padding-bottom: 4px;padding-top: 16px;">Лучшее место для поиска университета</h1>
                    </div>
                </div>
                <div class="col-12 col-lg-10 mx-auto">
                    <div class="position-relative" style="display: flex;flex-wrap: wrap;justify-content: flex-end;">
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-15%, 35%, 0);"></div>
                        <div style="position: relative;flex: 0 0 45%;transform: translate3d(-5%, 20%, 0);"></div>
                        <div style="position: relative;flex: 0 0 60%;transform: translate3d(0, 0%, 0);"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section></section>
    <section></section>
    <section class="py-5 mt-5" style="padding-top: 0px;padding-bottom: 150px;margin-top: 80px;margin-bottom: -56px;">
        <div class="container" style="padding-bottom: 0px;padding-left: 0px;padding-right: 0px;margin-left: 78px;padding-top: 0px;margin-top: -47px;">
            <div class="row">
                <div class="col" style="margin-left: -26px;margin-bottom: 0px;margin-top: -50px;padding-left: 261px;">
                    <form>
                        <div><button class="btn btn-primary" type="button" style="height: 45.7812px;margin-top: -1px;margin-bottom: -65px;padding-right: 0px;width: 109.6328px;padding-left: 0px;padding-top: 0px;padding-bottom: 0px;margin-right: 4px;margin-left: 340px;"><a href="/filter">Фильтры</a></button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
        <section style="margin-bottom: -170px;margin-top: -1px;">
            {% if current_user.is_admin %}
            {% for item in programs %}
          {% set ege_names_list = [['Русский язык', item.ege_points.russian], ['Математика', item.ege_points.math_basic], ['Математика профильная', item.ege_points.math_advanced],
                                        ['Физика', item.ege_points.physics], ['Химия', item.ege_points.chemistry], ['История', item.ege_points.history] ,
        ['Обществознание', item.ege_points.social_science], ['Информатика', item.ege_points.informatics], ['Биология', item.ege_points.biology],
                                        ['География', item.ege_points.geography], ['Английский язык', item.ege_points.english],
        ['Немецкий язык', item.ege_points.german], ['Французский язык', item.ege_points.french],
                                        ['Испанский язык', item.ege_points.spanish], ['Китайский язык', item.ege_points.chinese],
        ['Литература', item.ege_points.literature]]%}
                                        {% set subjects = []%}
                                        {% for i in range(ege_names_list|length)  %}
                                        {% if ege_names_list[i][1] %}
                                        {{subjects.append((ege_names_list[i][0], ege_names_list[i][1])|join(": "))}}
                                        {% endif %}
                                        {% endfor %}
                                        {% set ege_reqs = ' '.join(subjects) %}
            {% if item.admin == current_user %}
            <div class="col">
                <div class="row">
                    <div class="col">
                        <section class="py-4 py-xl-5" style="margin-left: 7px;">
                            <div class="container" style="margin-bottom: -1px;margin-top: -38px;margin-left: 150px;">
                                <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5" style="width: 743px;height: 4.992px;margin-left: 184px;">
                                    <div class="pb-2 pb-lg-1">
                                        <h2 class="fw-bold mb-2" style="height: 43.7969px;width: 463.211px;margin-right: 0px;font-size: 17px;margin-left: -29px;margin-bottom: 0px;margin-top: -37px;">{{item.name}}</h2>
                                        <p class="mb-0" style="font-size: 10px;margin-left: -28px;margin-bottom: 4px;margin-top: -29px;">{{item.admin.name}}, {{item.faculty}}</p>
                                        <p style="font-size: 10px;margin-top: -1px;margin-left: -28px;">{{ege_reqs}}</p>
                                        <p style="font-size: 10px;margin-bottom: 16px;margin-top: -16px;margin-left: -28px;">Стоимость: {{item.price}} Руб.</p>
                                        <p style="font-size: 10px;margin-left: 500px;margin-right: -20px;margin-bottom: 13px;margin-top: -62px;">{{item.reg.name}}, {{item.city}} </p>
                                        <p style="font-size: 10px;margin-left: 500px;margin-bottom: -400px;margin-top: -18px;"><a href="{{item.link}}">Ссылка</a></p>
                                    </div>
                                     <div>
        <a href="/programs/{{ item.id }}" class="btn btn-success" style="width: 50px;line-height: 10px;font-size: 10px; margin-bottom: 130px;margin-left: -350px;margin-top: -50px;text-align: center;">
+
        </a>
        <a href="/programs_delete/{{ item.id }}" class="btn btn-danger class=" style="width: 50px;line-height: 10px;font-size: 10px; margin-bottom: 140px;margin-left: 10px;margin-top: -40px;text-align: center;">
-
        </a>
    </div>
                                </div>
                            </div>
                        </section>
                                    {% endif %}
                                    {% endfor %}
                                    {% endif %}
                                    {% if not current_user.is_admin %}
            {% for item in programs %}
                      {% set ege_names_list = [['Русский язык', item.ege_points.russian], ['Математика', item.ege_points.math_basic], ['Математика профильная', item.ege_points.math_advanced],
                                        ['Физика', item.ege_points.physics], ['Химия', item.ege_points.chemistry], ['История', item.ege_points.history] ,
        ['Обществознание', item.ege_points.social_science], ['Информатика', item.ege_points.informatics], ['Биология', item.ege_points.biology],
                                        ['География', item.ege_points.geography], ['Английский язык', item.ege_points.english],
        ['Немецкий язык', item.ege_points.german], ['Французский язык', item.ege_points.french],
                                        ['Испанский язык', item.ege_points.spanish], ['Китайский язык', item.ege_points.chinese],
        ['Литература', item.ege_points.literature]]%}
                                        {% set subjects = []%}
                                        {% for i in range(ege_names_list|length)  %}
                                        {% if ege_names_list[i][1] > 0 %}
                                        {{subjects.append((ege_names_list[i][0], ege_names_list[i][1])|join(": "))}}
                                        {% endif %}
                                        {% endfor %}
                                        {% set ege_reqs = ' '.join(subjects) %}
                                    <div class="col">
                <div class="row">
                    <div class="col">
                        <section class="py-4 py-xl-5" style="margin-left: 7px;">
                            <div class="container" style="margin-bottom: -1px;margin-top: -38px;margin-left: 150px;">
                                <div class="text-white bg-primary border rounded border-0 border-primary d-flex flex-column justify-content-between flex-lg-row p-4 p-md-5" style="width: 743px;height: 4.992px;margin-left: 184px;">
                                    <div class="pb-2 pb-lg-1">
                                        <h2 class="fw-bold mb-2" style="height: 43.7969px;width: 463.211px;margin-right: 0px;font-size: 17px;margin-left: -29px;margin-bottom: 0px;margin-top: -37px;">{{item.name}}</h2>
                                        <p class="mb-0" style="font-size: 10px;margin-left: -28px;margin-bottom: 4px;margin-top: -29px;">{{item.admin.name}}, {{item.faculty}}</p>
                                        <p style="font-size: 10px;margin-top: -1px;margin-left: -28px;">{{ege_reqs}}</p>
                                        <p style="font-size: 10px;margin-bottom: 16px;margin-top: -16px;margin-left: -28px;">Стоимость: {{item.price}} Руб.</p>
                                        <p style="font-size: 10px;margin-left: 500px;margin-right: -20px;margin-bottom: 13px;margin-top: -62px;">{{item.reg.name}}, {{item.city}} </p>
                                        <p style="font-size: 10px;margin-left: 500px;margin-bottom: -400px;margin-top: -18px;"><a href="{{item.link}}">Ссылка</a></p>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            {% endif %}
                        </section>
                    </div>
                </div>
            </div>

        </section>
   {% endblock %}